<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1><%= error %></h1>
		<form action="/auth/login" method="post">
			<input placeholder="Email ..." type="email" name="email" />
			<input placeholder="Password ..." type="password" name="password" />
			<button>Submit</button>
		</form>
  </body>
</html>
